@import 'tailwindcss';

@theme {
  /* Primary Colors */
  --color-primary-50: #edebfb;
  --color-primary-100: #dcd8f8;
  --color-primary-200: #cac4f4;
  --color-primary-300: #b8b0f0;
  --color-primary-400: #a79ded;
  --color-primary-500: #9589e9;
  --color-primary-600: #6655df;
  --color-primary-700: #3c27d0;
  --color-primary-800: #2d1d9c;
  --color-primary-900: #1e1368;

  --max-width: 1542px;

  /* Animations */
  --animate-marquee: marqueeAnimation 60s linear infinite;

  @keyframes marqueeAnimation {
    to {
      transform: translateX(calc(-100% - 80px));
    }
  }
}

@theme inline {
  --font-sans: var(--font-poppins);
}

@layer base {
  :root {
    interpolate-size: allow-keywords;
  }

  :is(a, button) {
    cursor: pointer;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    border-color: var(--color-primary-500);
    background-color: var(--color-primary-500);
    color: var(--color-neutral-50);
  }

  .btn-secondary {
    border-color: var(--color-neutral-950);
    color: var(--color-neutral-950);
  }
}
